APP_CONFIG__DB__URL=postgresql+asyncpg://user:pwd@localhost:5432/app
APP_CONFIG__DB__ECHO=1
APP_CONFIG__GUNICORN__WORKERS=1
APP_CONFIG__ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET=51dbbe4cfa5be0bac27afd2e04aa4395a06ad7fe4f7caa0995f30bed50cbb17e
APP_CONFIG__ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET=1854cf9a7afad0f204a8d201c0c50a8cc2859ddf8f128b401b6ab8fcd0116a47
