# Docker container name with PostgreSQL
BACKUP_CONTAINER_NAME=extra-pg-1

# PostgreSQL database credentials
BACKUP_DB_NAME=shop
BACKUP_DB_USER=user

# Where backups are stored on server
BACKUP_ROOT=/var/backups/extra_backend/postgres

# Retention windows
RETENTION_DAYS_DAILY=35
RETENTION_DAYS_WEEKLY=84
RETENTION_DAYS_MONTHLY=365
